# IDE
/.idea
/.DS_Store

# .env file
/.env
/.env/*
#env
./**/.env
./**/.env.*
./**/.env.local
./**/.env.*.local
/compose/mongodata
/compose/mongodata/*
/compose/initdb
/compose/initdb/*
.env
.env.*
./**/dist
./**/dist/*
./**/node_modules
./**/node_modules/*
