#ignore env in api
./analytic-api/.env
./auth-api/.env
./gateway-api/.env
./mailer-api/.env
./messenger-api/.env
./nutrition-api/.env
./permission-api/.env
./subscripton-api/.env
./token-api/.env
./training-api/.env
./user-api/.env


./analytic-api/.env.*
./auth-api/.env.*
./gateway-api/.env.*
./mailer-api/.env.*
./messenger-api/.env.*
./nutrition-api/.env.*
./permission-api/.env.*
./subscripton-api/.env.*
./token-api/.env.*
./training-api/.env.*
./user-api/.env.*

#ignore env in manifest
./manifest/**/.env
./manifest/**/.env.*
./manifest/**/.env.local
./manifest/**/.env.*.local



./analytic-api/node_modules
./auth-api/node_modules
./gateway-api/node_modules
./mailer-api/node_modules
./messenger-api/node_modules
./nutrition-api/node_modules
./permission-api/node_modules
./subscripton-api/node_modules
./token-api/node_modules
./training-api/node_modules
./user-api/node_modules


./**/.env
./**/.env.*
./**/.env.local
./**/.env.*.local

.env
.env.*
# ./**/dist
# ./**/dist/*
./**/node_modules
./**/node_modules/*

.expo
.vscode
.DS_Store
*.pnpm-store

./compose/mongodata/*
